@model ProdBuilder0920.Domain.ViewModels.AdminAddParttypwViewModel

@{
    ViewBag.Title = "AddParttype";
}

<br/>
<br/>
<br/>

@using (Html.BeginForm("AddParttype", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AddParttype</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.DropDownListFor(model => model.Partss, Model.SelectListItems, "Choose Package", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Partss, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PartTypeName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-6">
                @Html.EditorFor(model => model.PartTypeName, new {htmlAttributes = new
           {
               @class = "form-control",
               PlaceHolder = "e.g. engine"
           }
           })
                @Html.ValidationMessageFor(model => model.PartTypeName, "", new {@class = "text-danger"})
            </div>*
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PartTypeImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.PartTypeImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PartTypeImageUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
