@model IEnumerable<ProdBuilder0920.Domain.PartType>


@{
    ViewBag.Title = "Customize";
}
<br/>
<br/>
<br/>
<div class="row alert-success text-center">
    <h2><strong>Customize Product</strong></h2>
</div>
<hr/>
<br/>
<br/>

<div class="text-center">Choosed package:@ViewBag.packetName - from  @ViewBag.packetPrice (kr)</div>
<br/>
<div class="row">
    
    <table class="table table-bordered table-striped text-center">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@item.PartTypeName</b>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            foreach (var item2 in item.Parts)
            {
                <tr>
                    <td></td>
                    <td>Manufacturer: @item2.PartManufacturer</td>
                    <td>Model: @item2.PartModelName</td>
                    <td>Description:@item2.PartDescription</td>
                    <td>Delivery: @Html.DisplayFor(modelitem => item2.PartDeliverytime)</td>
                    <td>Price: @item2.PartPrice</td>
                    <td>

                        @Ajax.ActionLink("Add Configuration", "Choice", "BuildProduct", new {id = item2.PartID},

                            new AjaxOptions
                            {
                                UpdateTargetId = "Choosen", // <-- DOM element ID to update
                                InsertionMode = InsertionMode.InsertAfter, // <-- Replace the content of DOM element
                                HttpMethod = "GET", // <-- HTTP method

                            }
                            , new {@class = "btn btn-warning delete"}
                            )
                    </td>
                </tr>
            }
        }

    </table>
</div>
<div class="row">
    <div class="col-md-10">
        @Html.ActionLink("Back", "Index", "BuildProduct")
    </div>
    <div class="col-md-2">
        @Html.ActionLink("View Cart", "ViewCart", "BuildProduct", null, new {@class = "btn btn-success delete"})
    </div>
</div>
<div class="row col-md-12">
    <div id="Choosen"></div>
</div>



